
*{
    margin: 0%;
    padding: 0%;
}
nav ul li{
    display: inline-block;

}
header {
    align-items: center; 
    background-color: antiquewhite;
    height: 80px;
}
section{
    display: flex;
}
header ul li a{
    text-decoration: none;
    color:black;
    font-size: 1rem;
    margin-left: 40px;
    justify-content: space-between;

}
nav{
    margin-left: 350px;
    margin-top: -40px;
}
button{
    background-color: rgb(253, 137, 49);
    margin-bottom: 40px;
    margin-left: 30px;
    width: 90px;
    height: 40px;
    border-radius: 15px;
}
.container{
    width: 90%;
    padding: 10px;
}
.titre{
    margin-top: 70px;
    padding: 80px;
}
.titre h1{
    font-size: xx-large;
}
span{
    color: coral;
}
#test{
    margin-left: 200px;
    width: 400px;
    height: 400px;
}
.second{
    display: flex;
}
.ligne{
    margin-left: 100px;
}
.second{
    margin-left: 100px;
    display: flex;
}